<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test tread-count="5" name="Test1">
		<parameter name="Browser" value="Chrome">
			<classes>
				<class name="pkg.Ppassing" />
			</classes>
		</parameter>
	</test> <!-- Test -->
	<test tread-count="5" name="Test2">
		<parameter name="Browser" value="firefox">
			<classes>
				<class name="pkg.Ppassing" />
			</classes>
		</parameter>
	</test> <!-- Test -->
</suite> <!-- Suite -->
	